/* CSS RESET */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style-type:none!important}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}a{text-decoration:none;color:inherit}*{font-feature-settings:kern;text-ren­der­ing:optimizeLegibility!important;-webkit-box-sizing:border-box!important;-moz-box-sizing:border-box!important;box-sizing:border-box!important;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;transition:.15s all ease-out;-webkit-transition:.15s all ease-out;-moz-transition:.15s all ease-out;-o-transition:.15s all ease-out;-webkit-style:none;}

textarea, input {
    outline: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

/* END CSS RESET */

html, body {
    background: #f8f8f8;
    /*background: #FFF1F9;*/
}

.profile {
    display: block;
    position: relative;
    top:0;
    left:0;
    width:90%;
    max-width: 540px;
    margin: 56px auto 24px auto;
}

h1 {
    display: block;
    position: relative;
    top:0;
    left:0;
    width: auto;
    margin: 0 0 24px 0;
    font-family: Arial;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2em;
    color: #222;
}

p {
    display: block;
    position: relative;
    top:0;
    left:0;
    width: auto;
    margin: 16px 0 0 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: none;
    color: #444;
]    }

a {
    color: #653a85;
    border-bottom: solid 1px #ceb7e1;
}

.button {
    display: inline-block;
    position: relative;
    top:0;
    left:0;
    width: auto;
    margin: 40px 16px 0 0;
    padding: 12px 20px 12px 20px;
    border: none;
    font-family: Arial;
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 1em;
    text-align: center;
    text-transform: none;
    color: rgba(255,255,255,1);
    background: #653a85;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}

.button:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.6);
}

.button-help {
    display: inline-block;
    position: relative;
    top:0;
    left:0;
    width: auto;
    margin: 12px 0 0 0;
    padding: 12px 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    text-transform: none;
    color: #999;
}

.portfolio {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: 1600px;
    margin: 0 auto 80px auto;
    padding: 8px;
    text-align: center;
}

.portfolio img {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    max-width: 280px;
    max-height: 320px;
    object-fit: contain;
    background: #fff;
    vertical-align: middle;
    margin: 16px;
    border: solid 12px #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    opacity: 0.99;
}

@media (max-width: 800px) {

    .profile {
        margin: 40px auto 24px auto;
    }

    .portfolio img {
        max-width: calc((100% - 40px) * 0.5);
        max-height: 240px;
        margin: 8px;
        border-width: 8px;
    }

}

::-moz-selection {
    background: #653a85;
    color: #fff;
}

::selection {
    background: #653a85;
    color: #fff;
}
